




:root {
  --orange: #ff9f1c;
  --red: #fa003f;
  --white: #fff;
  --darkpurple: #160c28;
  --greenish : #2ec4b6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  background-color: var(--darkpurple);
  color: var(--white);
  padding: 1rem;
}
h1{
  text-transform: uppercase;
  color: var(--red);
}
h1, h2{
  text-align: center;
  padding: 1rem;
}

